.pealkiri, h2 {
    text-align: center;
    color: rgb(106, 14, 14);
    text-align: center;
    padding-top: 25px;
  }
  
  .paragrahv {
    text-align: center;
    color: rgb(27, 119, 30);
  }

  .klipp, p {
    text-align: justify;
    color: rgb(27, 119, 30);
  }

  body {
    background-color: rgb(188, 187, 187);
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
  }

  #uudised  {
    background-color: lightgrey;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    
  }

  #uudised>.uudis>img {
    width: 250px;
  }

  .uudis  {
    background-color: lightgrey;
    width: 300px;
    border: 2px solid green;
    padding: 25px;
    margin: 20px;
  }

  .autor-kuupaev {
    display: flex;
    justify-content: space-between;
    color: rgb(0, 7, 103);
  }

  a {
    text-decoration: none;
  }